.section--news-cards {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 500px;
  max-width: 48%;
  margin-bottom: 20px;
}

.img--card-pic {
  height: auto;
  max-height: 50%;
  min-width: 100%;
  object-fit: stretch;
}